.CardItem {
    width: 300px;
    padding: 20px;
    margin: 30px;
    font-size: 10px;
    background-color: rgb(50, 52, 53);
    border: 1px solid #e1e1e1;

}

.ContainerItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ItemHeader {
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
}

.Info {
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
}

.Button {
    width: auto;
    padding: 12px;
    font-size: 12px;
    background: #3edc41;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ItemImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}