.ItemListContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}