
.NavBar {
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: rgb(0, 8, 4);
}

.Categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Option {

  text-decoration: none;
  border-radius: 25;
  margin: 0 50px;
  /* TODO */
  width: auto;
  padding: 12px;
  font-size: 17px;
  background: #14b717;
  flex: none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
}

.ActiveOption {

  text-decoration: none;
  border-radius: 25;
  margin: 0 50px;
  width: auto;
  padding: 12px;
  font-size: 8px;
  background: red;
  flex: none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
}

.NavLink {
  color :rgb(255, 0, 0)
}

.titulo{
  color: #FFFFFF;
  font-size: 24px;
  margin-left: 20PX;
}

@media screen and (max-width:720px){ 
  .Categories{
    flex-direction: column;
  }

  
}